<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FILE_CONSOLIDATOR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FILE_CONSOLIDATOR.Properties.Settings>
            <setting name="SOURCE_FILES" serializeAs="String">
                <value>D:\ProjectSAPHANA\</value>
            </setting>
            <setting name="DESTINATION_FILES" serializeAs="String">
                <value>C:\Users\sidc\Desktop\Consolidated\</value>
            </setting>
            <setting name="FILE_EXTENSION" serializeAs="String">
                <value>*.zip</value>
            </setting>
            <setting name="FOR_INTEG_FILES" serializeAs="String">
                <value>C:\Users\sidc\Desktop\For Integration\</value>
            </setting>
        </FILE_CONSOLIDATOR.Properties.Settings>
    </userSettings>
</configuration>